<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :task_text %>
  </div>

  <div class="field">
    <%= form.label :scheduled_at %>
    <%= form.date_select :scheduled_at, id: :task_scheduled_at %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done, id: :task_done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
